*{
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Roboto-Bold;
  src: url('/assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

body{
  font-family: Roboto-Regular;
  background-color: #36384D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  font-size: 16px;
}

.main-box{
  max-width: 830px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 375px) {
  .main-box{
    flex-direction:column-reverse;
    max-height: 100vh;
    border-radius: 0px;
  }
  .main-box .info{
    width: 100% !important;
  }

  .main-box .picture{
    position: absolute;
    top: 0;
    left: 0;
    height: 280px;
    border-radius: 0 0 20px 20px;
    width: 100% !important;
    background-image: url('/assets/images/illustration-sign-up-mobile.svg');
  }

  .main-box h1{
    font-size: 2rem !important;
  }

  .message h1{
    font-size: 3rem !important;
  }

  .message{
    height: 100vh;
    margin: 0 !important;
    max-width: 100%;
    border-radius: 0 !important;
    position: relative;
    padding-top: 8rem !important;
  }

  .message-body{
    height: 45%;
  }
}

.main-box h1{
  font-family: Roboto-Bold;
  font-size: 3.5rem;
}

.main-box .info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

.info-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-box .points{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.points div{
  display: flex;
  gap: 8px
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,button{
  padding: 15px 10px;
  border-radius: 5px;
  border: solid 1px hsl(235, 18%, 26%);
  cursor: pointer;
}

.invalid {
  border: 2px solid hsl(0, 50%, 66%);
}

.invalid-color{
  color: #D47D7D;
}

.visible{
  visibility: visible;
}

label{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.no-visibility{
  visibility: hidden;
}

form input{
  border:solid 1px #6b6b6b7f;
}

button{
  background-color: hsl(232, 31%, 20%);
  color: white;
  font-family: Roboto-Bold;
}

form label{
  font-family: Roboto-Bold;
  font-size: small;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.picture{
  border-radius: 20px;
  width: 50%;
  background-image: url('/assets/images/illustration-sign-up-desktop.svg');
  background-size: cover;
}

.message{
  margin: 10px;
  background-color: white;
  border-radius: 25px;
  padding: 2.6rem;
  width: 460px;
}

.message img{
  width: 45px;
  margin-bottom: 1rem;
}

.message h1{
  font-family: Roboto-bold;
  margin: 10px 0;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.message-body{
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.message button{
  width: 100%;
  cursor: pointer;
}

button:hover{
  background-image: linear-gradient(to right,hsl(347, 100%, 66%),hsl(13, 100%, 62%));
  border: none;
  box-shadow: 0 5px 10px hsl(13, 100%, 62%);
}

@media (max-width: 375) {
  
}